<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2" >
  <test  name="Test" >
  <parameter name="Name" value="Hemanthbabu"></parameter>
  <parameter name="emailid" value="hemanthfafu1998@gmail.com"></parameter>
  <parameter name="password" value="Hemu3123*"></parameter>
  <parameter name="mobilenumber" value="8072861025"></parameter>
  <parameter name="Driver" value="ChromeDriver"> thread-count="2"</parameter>
  <groups>
  <run>
  <include name="sanity"></include> 
  <exclude name="smoke"></exclude>
  
  </run>
  </groups>
  	<classes>
  	 <class name="com.testngtask.FacebookTask"></class>	
  	</classes>
  	
  </test> <!-- Test -->
  <test name="Test1">
  
  	<classes>
  	 <class name="com.testngtask.FacebookTask"></class> 	 
  	</classes>
  
  
  
  </test>
</suite> <!-- Suite -->
